html{
    font-size: 20px;
}

body{
    margin: 0;
}

header{
    position: relative;
}

nav, footer{
    text-align: center;
    background-color: cornflowerblue;
    font-size: 1.1rem;
}

nav{
    position: fixed;
    padding: 1rem 0rem 0rem 0rem;
    width: 100%;
    z-index: 10;
}

footer{
    padding: .5rem;
}

footer p{
    margin: 0;
    font-size: 16px;
    color: blanchedalmond;
}

i.navicon{
    display: none;
    color: whitesmoke;
    font-size: 2rem;
}


/* dropdown */
@media (max-width: 500px) {
    i.navicon{
        display: grid;
    }

    .dropdown{
        display: none;
        grid-template-columns: 1fr;
    }

    nav:hover .dropdown{
        display: grid;
    }

    nav:active .dropdown{
        display: none;
    }
}

nav a{
    color: blanchedalmond;
    /* margin: 0px 1rem; */
    padding: .5rem 1rem 0px 1rem;
    border-radius: .2rem;
}

nav a:hover{
    background-color: black;
}

a{
    text-decoration: none;
}

i{
    font-size: 5rem;
    color:cornflowerblue;
    /* padding: 1rem; */
    border-radius: .3rem;
    /* transition-property: background-color, color;
    transition-duration: .5s;
    transition-timing-function: ease-in-out; */
}

/* i:hover{
    color: cornsilk;
    background-color: cornflowerblue;

} */

h1,h2,h3{
    padding: 0;
    margin:0;
}

.banner{
    position: relative;
    min-height: 80vh;
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    align-content: center;
    justify-items: center;
    padding: 1.5rem;
    background-image: linear-gradient(294deg, white -56%, transparent 76%);
}

.banner-bg{
    position:absolute;
    z-index: -10;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url(https://picsum.photos/1920/1080);
    background-position: center;
    background-repeat: no-repeat;
    filter: grayscale(1) brightness(.7);
}

.brandname h1{
    margin: 0;
    color: cornflowerblue;
    font-size: 5rem;
}

.brandname>p{
    margin:0;
    font-size: 2rem;
    color: cornsilk;
}

.brandname p>span{
    margin:0;
    color:black;
}

.banner p{
    text-align: end;
}

@media (max-width: 750px) {
    .banner{
        grid-template-columns: 1fr;
    }

    .brandname h1{
        font-size: 4rem;
    }
    
    .brandname>p{
        font-size: 2rem;
    }
}

@media (max-width: 400px) {
    .brandname h1{
        font-size: 3rem;
    }
    
    .brandname>p{
        font-size: 1rem;
    }
}

.contact{
    min-height: 40vh;
}

.container{
    padding: 1rem;
}

.margin-vertical{
    margin: 2rem 0rem;
}

.container-horizontal{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, auto));
    grid-gap: 1rem;
    justify-content: space-evenly;
}

.container-vertical{
    display: grid;
    grid-template-columns: 1fr;
    /* grid-gap: 1rem; */
    align-content: space-evenly;
    justify-content: center;
}

.center-self{
    justify-self: center;
    text-align: center;
}

.title{
    color: cornflowerblue;
}

.card{
    margin: .5rem;
    padding: .2rem;
}

.card ul, .card ol{
    padding: 0;
    list-style: none;
}

.card-horizontal{
    position:relative;
    /* display: grid; */
    /* grid-template-columns: 1fr 3fr; */
    /* overflow: hidden; */
    grid-gap: 1rem;
    margin: 1rem 0;;
}

.card-horizontal:nth-child(even) img{
    float: left;
}
.card-horizontal:nth-child(even) a{
    float: left;
}
.card-horizontal:nth-child(odd) img{
    float: right;
}
.card-horizontal:nth-child(odd) a{
    float: right;
}

.card-horizontal img{
    min-width: 100px;
    max-width: 300px;
    min-height: 100px;
    max-height: 300px;
    object-fit: scale-down;
    align-self: center;
    justify-self: center;
    border-radius: .5rem;
    margin: .5rem;
}

@media (max-width: 500px) {
    .card-horizontal{
        display: grid;
    }
    .card-horizontal:nth-child(odd) img,
    .card-horizontal:nth-child(even) img{
        box-shadow: none;
        float: none;
        justify-self: center;
    }

    .card-horizontal img{
        min-width: 100px;
        max-width: 200px;
        min-height: 100px;
        max-height: 200px;
    }
}

@media (min-width: 850px) {
    .card-horizontal:nth-child(even) img{
        box-shadow: -2rem 2rem 0px cornflowerblue;
    }
    .card-horizontal:nth-child(odd) img{
        box-shadow: 2rem 2rem 0px cornflowerblue;
    }
}

/* .button-main, .button-sub{
    margin: .3rem;
} */

.button-main{
    background-color: cornflowerblue;
    color: cornsilk;
    border-radius: .2rem;
    padding: .3rem 1.5rem;
    transition-property: background-color, color;
    transition-duration: .5s;
}

.button-sub{
    color: cornflowerblue;
    border-radius: .2rem;
    padding: .3rem 1.5rem;
    transition-property: background-color, color;
    transition-duration: .5s;
}

.button-sub:hover,
.button-main:hover{
    background-color: black;
    color: cornsilk;
}

.no-decoration{
    list-style: none;
    text-decoration: none;
}

.no-padding{
    padding: 0;
}

