html{
    font-size: 20px;
}

body{
    margin: 0;
}

header{
    position: relative;
}

nav, footer{
    text-align: center;
    background-color: cornflowerblue;
    padding: 10px;
    font-size: 1.1rem;
}

/* div{
    background-color: cornsilk;
    border: 1px solid royalblue;
} */

a{
    text-decoration: none;
}

.banner{
    position: relative;
    height: 5rem;
    min-height: 80vh;
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    align-content: center;
    justify-items: center;
    padding: 1.5rem;
    background-image: linear-gradient(294deg, white -56%, transparent 76%);
}

.banner-bg{
    position:absolute;
    z-index: -10;
    width: 100%;
    height: 100%;
    background-image: url(https://picsum.photos/1920/1080);
    background-position: center;
    background-repeat: no-repeat;
    filter: grayscale(1) brightness(.7);
}

.brandname h1{
    margin: 0;
    color: cornflowerblue;
    font-size: 5rem;
}

.brandname>p{
    margin:0;
    font-size: 2rem;
    color: cornsilk;
}

.brandname p>span{
    margin:0;
    color:black;
}

.banner p{
    text-align: end;
}

.contact{
    min-height: 40vh;
}

.container{
    padding: 1rem;
}

.container-horizontal{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, auto));
    grid-gap: 1rem;
    justify-content: space-evenly;
}

.container-vertical{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
    align-content: space-evenly;
    justify-content: center;
}

.center-self{
    justify-self: center;
}

.title{
    color: cornflowerblue;
}


.card-horizontal{
    position:relative;
    /* display: grid; */
    /* grid-template-columns: 1fr 3fr; */
    /* overflow: hidden; */
    grid-gap: 1rem;
}

.card-horizontal:nth-child(even) img{
    float: left;
    box-shadow: -2rem 2rem 0px cornflowerblue;

}
.card-horizontal:nth-child(even) a{
    float: left;
}
.card-horizontal:nth-child(odd) img{
    float: right;
    box-shadow: 2rem 2rem 0px cornflowerblue;
}
.card-horizontal:nth-child(odd) a{
    float: right;
}

.card-horizontal img{
    min-width: 200px;
    max-width: 300px;
    min-height: 100px;
    max-height: 200px;
    object-fit: scale-down;
    align-self: center;
    justify-self: center;
    border-radius: .5rem;
    margin: .5rem;
}

/* .button-main, .button-sub{
    margin: .3rem;
} */

.button-main{
    background-color: cornflowerblue;
    color: cornsilk;
    border-radius: .2rem;
    padding: .3rem 1.5rem;
}

.button-sub{
    color: cornflowerblue;
    border-radius: .2rem;
    padding: .5rem;
}

